---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import Search from '@components/misc/Search.astro';


interface Props {
  title: string;
  lang: string;
  description?: string;
  noCache?: boolean;
}
const { title, lang, description, noCache = false } = Astro.props;

---

<Layout title={title} lang={lang} description={description} noCache={noCache}>
  <div class="flex flex-col min-h-screen">
    <div>
      <Header />
    </div>
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
    <Search />
  </div>
</Layout>